# Entorno virtual
env/

# Archivos de caché
*.pyc
__pycache__/

# Archivos de configuración de IDE
.vscode/

# Archivos de base de datos
db.sqlite3

# Archivos de configuración de entorno
.env

# Otros archivos temporales
*.log
